  
 a[data-toggle="collapse"] {
     position: relative;
 }
 
 .dropdown-toggle::after {
     display: block;
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
 }
  
 #sidebar.active {
     margin-left: -250px;
 }
 
 a[data-toggle="collapse"] {
     position: relative;
 }
 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
 body {
     font-family: 'Poppins', sans-serif;
     background: #fafafa;
 }
 
 p {
     font-family: 'Poppins', sans-serif;
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color: #999;
 }
 
 a,
 a:hover,
 a:focus {
     color: inherit;
     text-decoration: none;
     transition: all 0.3s;
 }
 
 #sidebar {
     min-width: 250px;
     max-width: 250px;
     height: 100vh;
     background: #3c3d41;
     color: #fff;
     transition: all 0.3s;
 }
 
 #sidebar .sidebar-header {
    padding: 20px;
    background: #3c3d41;
}
 
 #sidebar ul.components {
     padding: 0px 0;
 }
 
 #sidebar ul p {
     color: #fff;
     padding: 10px;
 }
 
 #sidebar ul li a {
     padding: 10px;
     font-size: 1.1em;
     display: block;
     margin-left: 20px;
 }
 
 #sidebar ul li a:hover {
     color: #7386D5;
     background: #fff;
 }
 
 #sidebar ul li.active>a,
 a[aria-expanded="true"] {
     color: #fff;
     background: #3c3d41;
 }
 
 ul ul a {
     font-size: 0.9em !important;
     padding-left: 30px !important;
     background: #3c3d41;
 }

#sidebar.active {
    margin-left: -250px;
    /* transform: rotateY(100deg); Rotate sidebar vertically by 100 degrees. */
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.closeDiv{
    background: #3c3d41;
    color: #fff;
    transition: all 0.3s;
}

#btnClose{
    margin-left: 230px;
    width: 40px;
  height: 40px;
  background-color: transparent;
}
#btnClose.active{
    margin-left: 10px;
}
#btnClose span{
    color: white;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#btnClose span:first-of-type {
/* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#btnClose span:nth-of-type(2) {
/* second one is not visible */
opacity: 0;
}
#btnClose span:last-of-type {
/* rotate third one */
transform: rotate(-45deg) translate(1px, -1px);
}
#btnClose.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 150px auto;
  }
/* #btnClose.active:after{
    content: ">";
} */

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        /* transform: rotateY(100deg); */
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #btnClose{
        margin-left: 10px;
    }
    #btnClose.active {
        margin-left: 230px;
    }
    #btnClose span:first-of-type,
    #btnClose span:nth-of-type(2),
    #btnClose span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #btnClose.active span {
        margin: 0 auto;
    }
    #btnClose.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #btnClose.active span:nth-of-type(2) {
        opacity: 0;
    }
    #btnClose.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    /* #btnClose.active:after{
        content: ">";
    } */
}