<nav class="navbar navbar-expand-md navbar-light sticky-top navFont" style="width:100%">
    <a class="navbar-brand" [routerLink]="['/home']" translate>
        <img src="../../assets/ixinlogo.png" style="width: 50px;"> Tokenpon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-2" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Submenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                
                
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                  <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                              </li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                  <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                              </li>
                
                
                
                            </ul>
                          </li>
                        </ul>
                      </li> -->
            <!-- <li class="nav-right">
                <select [(ngModel)]="selectedLanguage" (ngModelChange)="onChange($event)" class="nav-lang">
                            <option *ngFor="let lang of language" value="{{lang.Id}}">
                                {{lang.Id == 1?"EN":lang.Description}}
                            </option>
                </select>
            </li> -->
            <!-- <li *ngFor="let cat of categories" class="nav-item active dropdown">
                <a href="{{'#' + cat.Category + 'Submenu'}}" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"
                    translate>{{cat.Description}}</a>
                <ul class="collapse list-unstyled" id="{{cat.Category + 'Submenu'}}">
                    <li *ngFor="let subcat of cat.subcategories">
                        <a [routerLink]="['/home']" [queryParams]="{subcat: subcat.Description}" translate>{{subcat.Description}}</a>
                    </li>
                </ul>
            </li> -->
            <li *ngFor="let cat of menuItems" class="nav-item active dropdown mr-2">
                <!-- if there is a submenu -->
                <div *ngIf="cat.subcategories.length > 0">
                    <a href="{{'#' + cat.Category + 'Submenu'}}" data-toggle="dropdown" aria-expanded="false" translate>{{cat.Description}}</a>
                    <div class="dropdown-menu" id="{{'Submenu' + cat.Category}}">
                        <a class="dropdown-item" *ngFor="let subcat of cat.subcategories" [routerLink]="['/home']"
                            [queryParams]="{subcat: subcat.Description}" translate>
                            {{subcat.Description}}
                        </a>
                    </div>
                </div>
                <!-- if there is NO submenu -->
                <div *ngIf="cat.subcategories.length == 0">
                    <a [routerLink]="['/home']" [queryParams]="{cat: cat.Description}" translate>{{cat.Description}}</a>
                </div>
            </li>
        </ul>
        <div class="dropdown nav-profile" *ngIf="currentUser != undefined">
            <a class="mr-1" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [routerLink]="['/profile']" [queryParams]="{user: currentUser}">{{currentUser}}
            </a>
            <a class="nav-item dropdown nav-profile" (click)="LogOut()">
                <i class="fa fa-sign-out" aria-hidden="true">Logout</i>
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
                <a class="dropdown-item" [routerLink]="['/profile']" [queryParams]="{user: currentUser}">
                    <i class="fa fa-cog" aria-hidden="true"></i>Settings
                </a>
                <a class="dropdown-item" (click)="LogOut()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                </a>
            </div> -->
        </div>
        <div class="nav-item dropdown nav-profile" *ngIf="currentUser == undefined">
            <a [routerLink]="['/login']" translate>
                <i class="fa fa-sign-in" aria-hidden="true"></i>Login
            </a>
        </div>
    </div>
</nav>