.navbar,
.navbar-nav,
.nav-link {
    background-color: #3c3d41 !important;
}

.navbar {
    border-bottom: 1px solid #707070 !important;
}

.nav-link:hover {
    color: #FF8F00 !important;
}

.nav-item {
    width: 100px !important;
}

.nav-link,
.navbar-brand {
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 20px;
}

.nav-log {
    border: 2px solid #FF8F00;
    font-family: Helvetica;
    font-weight: bold;
    border-radius: 100px;
    background-color: #3c3d41!important;
    color: #FF8F00 !important;
    font-size: 12px;
}

.nav-log:hover {
    background-color: #FF8F00 !important;
    color: #FFFFFF !important;
}

.nav-lang {
    margin-right: 15px;
    margin-top: 15px;
    font-family: Helvetica;
}

.nav-profile {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15x;
    padding-right: 10px;
    padding-top: 15px;
}

.nav-profile a {
    color: #FF8F00
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#navbarToggler ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    /* margin-left: 20px; */
}

#navbarToggler ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#navbarToggler ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3c3d41;
}

ul ul a {
    font-size: 0.9em !important;
    /* padding-left: 30px !important; */
    background: #3c3d41;
}

@media screen and (max-width:766px) {
    .navbar-right li {
        padding-bottom: 15px;
        padding-left: 10px;
    }
}