ul {
    list-style-type: none;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    margin-top: 30px;
    color: #707070;
    font-family: Helvetica;
}

.fa-thumbs-up-clicked {
    color: #FF8F00 !important;
}

.fa-thumbs-down-clicked {
    color: #FF8F00 !important;
}

h2 {
    font-weight: bold;
}

.checked {
    color: #FF8F00;
}

hr {
    background: #ff8f00;
    width: 80px;
    height: 5px;
    margin-top: 0
}

.defaultbtn {
    background-color: #FF8F00 !important;
    box-shadow: none!important;
}

.defaultbtn:hover {
    background-color: #FF6600 !important;
}

.panel-heading {
    height: 70px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #DBDBDB
}

.username {
    color: black!important;
    font-size: 23px;
    margin-top: -5px;
}

.text-muted {
    color: #707070!important;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

div.darkTable {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }
  .divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
    border: 0px solid #4A4A4A;
    padding: 3px 2px;
  }
  .divTable.darkTable .divTableRow:nth-child(even) {
    /* background: #888888; */
    background: #d3ccb741;
  }
  .divTable.darkTable .divTableHeading {
    background: grey;
    border-bottom: 3px solid grey;
  }
  .divTable.darkTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #4A4A4A;
  }
  .divTable.darkTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .darkTable .tableFootStyle {
    font-size: 12px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableHeadRow { display: table-row; }
  .divTableRow { display: table-row; }
  /* .divTableRow:hover { background-color: tan; } */
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
  .tableBtn {position:absolute;
    left:0;
    width:100%; }

    /* image carousel */
    #myCarousel .list-inline {
        white-space:nowrap;
        overflow-x:auto;
    }
    
    #myCarousel .carousel-indicators {
        position: static;
        left: initial;
        width: initial;
        margin-left: initial;
    }
    
    #myCarousel .carousel-indicators > li {
        width: initial;
        height: initial;
        text-indent: initial;
    }
    
    #myCarousel .carousel-indicators > li.active img {
        opacity: 0.7;
    }