<div class="container">
    <div class="row">
        <span class="col-9 text-info">{{iXinMobileAppMessage}} 
            <a style="cursor: pointer" (click)="setQrValue(QRModal, 1)">Android: <i class='fa fa-android fa-2x text-success' aria-hidden='true'></i></a> 
            <a style="cursor: pointer" (click)="setQrValue(QRModal, 2)"> iOS: <i class='fa fa-apple fa-2x' style="color:silver" aria-hidden='true'></i></a></span>
    </div>
    <div class="row">
        <div class="form-group col-md-9 no-gutters">
            <label for="businessCategory" translate>{{model.businessMainCategory}}</label> >
            <label for="businessCategory" class="inline" translate>{{model.businessSubCategory}}</label>
            <div class="col-11 text-center">
                <button class="btn defaultbtn btn-md" [hidden]="!isAuthor" translate [routerLink]="['/home/claim']"
                    [queryParams]="{id: claimId, from: published}" [disabled]="dealInProgress">Edit</button>
                <button class="btn btn-danger btn-md" [hidden]="!isAuthor" translate 
                    (click)="Remove_Listing(claimId, deleteConfirmation)" [disabled]="dealInProgress">Delete</button>
                <a class="float-right" (click)="shareDeal(shareModal);">
                    <i class="fa fa-share-alt fa-lg" aria-hidden="true" matTooltip="share this deal"></i>
                    <small>Share</small>
                </a>
                <!-- <div class="text-center text-danger"> 
                <small *ngIf="dealInProgress">
                    You can not change this tokenpon anymore since customer(s) have already purchased it.
                </small>
                </div> -->
                <!--
            <br>
            <label for="email">{{model.email}}</label>
            <br>
            <a [href]="formatURL(model.webPage)" target="_blank">{{model.webPage}}</a> -->
            </div>
            <div class="row">
                <div *ngIf="logoUrl != ''" class="col-3"><img [src]="logoUrl" style="height:50px"></div>
                <h5 class="col-9">{{model.businessName}} - {{model.city}}</h5>
                <!-- <small class="ml-3">follow</small> -->
            </div>
            <!-- <div class="mt-3">
                <h6 translate>{{model.overallTitle}}</h6>
            </div>
            <div>
                <div class="mt-3">
                    <h4 translate>Highlights</h4>
                    <hr align="left">
                    <div translate>{{model.productDescription}}</div>

                </div>
            </div> -->
            <!-- <div class="row">
                    <div class="col-lg-8 offset-lg-2" id="slider">
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item carousel-item" data-slide-number="0">
                                        <img src="http://placehold.it/1200x480&amp;text=one" class="img-fluid">
                                    </div>
                                    <div class="item carousel-item" data-slide-number="1">
                                        <img src="http://placehold.it/1200x480/888/FFF" class="img-fluid">
                                    </div>
                                    <div class="item carousel-item" data-slide-number="2">
                                        <img src="http://placehold.it/1200x480&amp;text=three" class="img-fluid">
                                    </div>
                                    <div class="item carousel-item" data-slide-number="3">
                                        <img src="http://placehold.it/1200x480&amp;text=four" class="img-fluid">
                                    </div>
                                    <div class="item carousel-item" data-slide-number="4">
                                        <img src="http://placehold.it/1200x480&amp;text=five" class="img-fluid">
                                    </div>
                                    <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                    <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>

                                </div>


                                <ul class="carousel-indicators list-inline">
                                    <li class="list-inline-item active">
                                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                            <img src="http://placehold.it/80x60&amp;text=one" class="img-fluid">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                            <img src="http://placehold.it/80x60&amp;text=two" class="img-fluid">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                            <img src="http://placehold.it/80x60&amp;text=three" class="img-fluid">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                            <img src="http://placehold.it/80x60&amp;text=four" class="img-fluid">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                                            <img src="http://placehold.it/80x60&amp;text=five" class="img-fluid">
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>

                </div> -->
            <div *ngIf="albums.length > 0" class="row mt-2 mb-2">
                <ngu-carousel #myCarousels1 class="col-sm-12 col-md-10 col-lg-9 mx-auto" [inputs]="carouselBanner"
                    (carouselLoad)="carouselTileOneLoad()" (onMove)="onMoveData($event)" [reset]="rsts" (initData)="getCarouselData($event)">
                    <ngu-tile NguCarouselItem *ngFor="let image of albums; let i=index">
                        <img style="cursor: pointer;width: 100%;height: 300px;" [src]="image.thumb" (click)="open(i)"
                            class="img-thumbnail hoverable facilitiesImage " />
                    </ngu-tile>
                    <a NguCarouselPrev class="carousel-control-prev" style="margin-top: 145px;">
                        <i class="fa fa-chevron-left fa-lg text-muted"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a NguCarouselNext class="carousel-control-next text-faded" style="margin-top: 145px;">
                        <i class="fa fa-chevron-right fa-lg text-muted"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </ngu-carousel>
                <!-- <ngb-carousel *ngIf="albums" id="ngbcarousel">
                    <ng-template ngbSlide *ngFor="let image of albums; let i=index">
                        <img [src]="image.thumb" class="img-fluid" style="width:100%; height: 300px;">
                    </ng-template>
                </ngb-carousel> -->
            </div>
            <div class="col-12 mb-2" *ngFor="let field of discountArray; let i = index">
                <div class="card">
                    <div class="col-12">
                        <div class="card-block">
                            <div class="row mt-3">
                                <div class="col-xs-4 col-sm-4 col-md-2">
                                    <h6 class="offer-head">Deal {{i+1}} <i *ngIf="model.discounts[i].groupCount > 1"
                                            class="fa fa-users" aria-hidden="true"></i></h6>

                                </div>
                                <div *ngIf="model.discounts[i].groupCount > 1" class="col text-center">
                                    <h5 *ngIf="model.discounts[i].groupCount > model.discounts[i].numOfPurchases" class="text-info">
                                        In NEED {{model.discounts[i].groupCount - model.discounts[i].numOfPurchases}} more buyer. Currently {{model.discounts[i].numOfPurchases}} buyers are in. This deal needs minimum
                                        {{model.discounts[i].groupCount}} buyers.</h5>
                                    <h5 *ngIf="model.discounts[i].numOfPurchases >= model.discounts[i].groupCount" class="text-success">
                                        {{globals.iXinDealLive}}</h5>
                                </div>
                                <!-- <div class="float-right" [hidden]="!isAuthor">
                                    <button type="button" class="btn btn-success btn-sm" (click)="makeDeal(dealConfirmation, i)">DEAL</button>
                                </div> -->
                            </div>
                            <div class="row">
                                <h5 class="col-xs-12 col-sm-12 col-md-10 font-weight-bold">
                                    {{field.title}}
                                </h5>
                            </div>
                            <div class="row col-12">
                                <label class="mr-2">Description:</label>
                                <label>{{field.description}}</label>
                            </div>
                            <div class="row col-12">
                                <label class="mr-2">Cost:</label>
                                <label>{{field.token}} iXin</label>
                            </div>
                            <div class="row col-12">
                                <label class="mr-2">Minimum Required Buyers:</label>
                                <label>{{model.discounts[i].groupCount}}</label>
                            </div>
                            <div class="row col-12">
                                <label class="mr-2">Sale Ends:</label>
                                <label>{{model.discounts[i].expirationDate | date: 'short' : 'locale'}}</label>
                            </div>
                            <div class="col-12 mb-2 text-center">
                                <button type="button" class="btn defaultbtn" (click)="displayBuyModal(content, i, finalConfirm, loginModal);">BUY</button>

                            </div>
                            <div *ngIf="model.discounts[i].groupCount > 1" class="text-warning">
                                {{TokenponGroupBuyPrint}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 no-gutters">
            <div>
                <h4 translate>General Info</h4>
                <hr align="left">
                <div #map>
                    <agm-map [style.height.px]="200" [style.width.px]="map.offsetWidth" [latitude]="lat" [longitude]="lng"
                        [zoom]="zoom" [streetViewControl]="false">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                            [latitude]="m.lat" [longitude]="m.lng" [label]="" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                        </agm-marker>
                    </agm-map>
                </div>
                <ul class="small">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span style="padding-left:10px">{{profileModel?.street}} {{profileModel?.city}},
                            {{profileModel?.state}} {{profileModel?.zip}}</span>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i><span style="padding-left:10px">{{profileModel?.phone}}</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i><span style="padding-left:10px">{{profileModel?.email}}</span>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i><span style="padding-left:10px"><a [href]="profileModel?.webPage" target="_blank ">{{profileModel?.webPage}}</a></span>
                    </li>
                    <!-- <li>
                        <i class="fas fa-globe"></i><span style="padding-left:10px"><a [href]=" formatURL(model.webPage) "
                                target="_blank ">{{model.webPage}}</a></span>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="form-group col-md-9 no-gutters">
            <div *ngIf="!currentUserId">
                <div class="row col-12">
                    <i class="far fa-thumbs-up fa-lg col-6">
                        <i style="font-size: medium;">{{likes}} likes</i>
                    </i>
                    <i class="far fa-thumbs-down fa-lg col-6">
                        <i style="font-size: medium;">{{dislikes}} dislikes</i>
                    </i>
                </div>
            </div>
            <div *ngIf="currentUserId != undefined">
                <div class="row col-12">
                    <i (click)="thumbsUp()" [ngClass]="{ 'fa-thumbs-up-clicked': alreadyLiked }" class="far fa-thumbs-up fa-lg col-sm-6 col-md-3"
                        placement="top" ngbTooltip="you liked it" [style.cursor]="!alreadyDisliked ? 'pointer' : 'auto'">
                        <i style="font-size: medium;">{{likes}} likes</i>
                        <br>
                        <label style="font-size: small" translate>(earn 5 tokens)</label>
                    </i>
                    <i (click)="thumbsDown()" [ngClass]="{ 'fa-thumbs-down-clicked': alreadyDisliked }" class="far fa-thumbs-down fa-lg col-sm-6 col-md-3"
                        placement="top" ngbTooltip="you didn't like it"  [style.cursor]="!alreadyLiked ? 'pointer' : 'auto'">
                        <i style="font-size: medium;">{{dislikes}} dislikes</i>
                        <br>
                        <label style="font-size: small" translate>(to dislike costs 10 tokens)</label>
                    </i>
                </div>
            </div>
        </div>
        <div class="form-group col-md-9 no-gutters">
            <h4 translate>Fine Print</h4>
            <hr align="left">
            <div translate>{{model.finePrint}}</div>

        </div>
        <div class="form-group col-md-9 no-gutters">
            <h4 translate>About {{model.businessName}}</h4>
            <hr align="left">
            <div translate>{{model.service}}</div>

        </div>
        <div class="form-group col-md-9 no-gutters">
            <h4 translate>Reviews</h4>
            <hr align="left">
            <div class="form-group">
                <div>
                    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentText.value); commentForm.reset();">
                        <label for="commentTextarea" translate>Your comment (min 10 characters):</label>
                        <br>
                        <textarea class="form-control comment-post" [ngModel]="comment" name="comment" required
                            minlength="10" id="commentTextarea" #commentText="ngModel"></textarea>
                        <br>
                        <div>
                            <button class="btn btn-primary btn-sm" [disabled]="!commentForm.form.valid" translate>Submit</button>
                        </div>
                        <!-- <textarea class="form-control" [ngModel]="ownComment?.comment" name="comment" required
                            minlength="10" rows="3" id="commentTextarea" #commentText="ngModel"></textarea>
                        <br>
                        <div *ngIf="!ownComment">
                            <button class="btn btn-primary btn-sm" [disabled]="!commentForm.form.valid" translate>Submit</button>
                        </div>
                        <div *ngIf="ownComment">
                            <button class="btn btn-primary btn-sm" [disabled]="!commentForm.form.valid || commentText.pristine"
                                translate>Update</button>
                        </div> -->
                    </form>
                </div>
            </div>

            <ul>
                <li *ngFor="let c of commentsPage">
                    <div class="row col-12">
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-user-circle fa-2x"></i> <span class="username">{{c.postedBy}}</span>
                                    <span class="text-muted float-right">posted on {{c.postedTime | date
                                        :'medium'}}</span>
                                </div>
                                <div class="panel-body">
                                    {{c.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ngb-pagination *ngIf="comments.length > pageSize" [collectionSize]="totalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
                [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
<!-- confirm purchase modal -->
<ng-template #content let-d="dismiss">
    <!-- <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
    <div class="modal-body">
        <div class="card bg-light">
            <div class="row mt-2">
                <h5 class="col-xs-12 col-sm-12 col-md-10 font-weight-bold">
                    {{selectedDiscount.title}}
                </h5>
            </div>
            <div class="row col-12">
                <label class="mr-2">Description:</label>
                <label>{{selectedDiscount.description}}</label>
            </div>
            <div class="row col-12">
                <label class="mr-2">Cost:</label>
                <label>{{selectedDiscount.token}} iXin</label>
            </div>
            <div class="row col-12">
                <label class="mr-2">Sale Ends:</label>
                <label>{{selectedDiscount.expirationDate | date: 'short' : 'locale'}}</label>
            </div>
            <div class="row col-12 mb-2">
                <label class="form-label mr-2">How many tokenpon would you like to purchase?</label>
                <select class="col-xs-3 col-sm-3 col-md-2 form-control" [(ngModel)]="tokenponPurchaseCount">
                    <option *ngFor="let count of purchaseCountList" [value]="count" [selected]="count == 1">{{count}}</option>
                </select>
            </div>
        </div>
        <p class="mt-2" translate>Total <label class="font-weight-bold">{{selectedDiscount.token *
                tokenponPurchaseCount}}</label> iXin will be withdrawn from your account. Your purchase will be
            shown on Your iXin Buy Mobile App.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('Cancel')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="d('Confirm');">Confirm</button>
    </div>
</ng-template>
<!-- purchase success modal -->
<ng-template #finalConfirm let-d="dismiss">
    <!-- <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
    <div class="modal-body">
        <p *ngIf="modalSuccess" translate>Success! Enjoy your discount!. Your purchase will be
                shown on Your iXin Buy Mobile App.
        </p>
        <p *ngIf="!modalSuccess" translate>{{failMessage}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d()">OK</button>
    </div>
</ng-template>
<!-- delete listing modal -->
<ng-template #deleteConfirmation let-d="dismiss">
    <div class="modal-body">
        <p translate>Are you sure you want to delete this listing?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('No')">No</button>
        <button type="button" class="btn btn-danger" (click)="d('Yes');">Yes</button>
    </div>
</ng-template>
<!-- deal modal -->
<ng-template #dealConfirmation let-d="dismiss">
    <div class="modal-body">
        <p translate>Are you sure you want to honor this deal?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('No')">No</button>
        <button type="button" class="btn btn-success" (click)="d('Yes');">Yes</button>
    </div>
</ng-template>
<!-- share deal modal -->
<ng-template #shareModal let-d="dismiss">
    <div class="modal-body row form-group">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <label class="col-form-label" for="shareEmail">Email</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <input type="email" class="form-control" id="shareEmail" required placeholder="Enter email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                [(ngModel)]="shareWith" #shareEmail="ngModel">
        </div>
        <div *ngIf="!shareEmail.valid" class="col-1">
            <small *ngIf="!shareEmail.valid" translate class="" [ngClass]="{ 'show-error': !shareEmail.valid }">
                *</small>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <button type="button" [disabled]="!shareEmail.valid" class="btn btn-default btn-sm" (click)="d('Send')">Send</button>
        </div>
        <div class="mr-auto ml-auto">
            <ngx-qrcode [qrc-element-type]="img" qrc-class="qrSize" [qrc-element-type]="elementType" [qrc-value]="currentUrl">
            </ngx-qrcode>
        </div>
    </div>
</ng-template>
<!-- login modal -->
<ng-template #loginModal let-d="dismiss">
    <!-- <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <div class="modal-body form-group mx-auto col-10">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group mx-auto" [ngClass]="{ 'has-error': !phone.valid }">                
                <div class="row"><label class="col-12" for="phone" translate>Phone Number</label></div>
                <div class="row">
                    <div class="col-10">
                        <international-phone-number id="intPhone" [(ngModel)]="model.loginphone" placeholder="Enter phone number"
                            [maxlength]="20" [defaultCountry]="'us'" [required]="true" #phone="ngModel" name="phone"></international-phone-number>
                    </div>
                    <div  class="col-2">
                        <small *ngIf="f.submitted && !phone.valid" translate class="" [ngClass]="{ 'show-error': !phone.valid }">
                            invalid</small>
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">
                <div class="row"><label class="col-12" for="password" translate>Password</label></div>
                <div class="row">
                    <div class="col-10">
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.loginpassword"
                            #password="ngModel" required />
                    </div>
                    <div  class="col-2">
                        <small *ngIf="f.submitted && !password.valid" translate class="" [ngClass]="{ 'show-error': !password.valid }">
                            required</small>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <button type="submit" [disabled]="loading" class="btn btn-primary" translate>Login</button>
                <small class="text-danger">{{loginResponseMsg}}</small>
            </div>            
        </form>
    </div>
</ng-template>
<!-- QR modal -->
<ng-template #QRModal let-d="dismiss">
    <div class="modal-body text-center">
        <ngx-qrcode [qrc-element-type]="img" qrc-class="qrSize" [qrc-element-type]="elementType" [qrc-value]="qrValue">
        </ngx-qrcode>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d('No')">OK</button>
    </div>
</ng-template>