<style>
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>
<div class="container col-sm-18 col-md-12 col-lg-10 offset-md-1">
    <form (ngSubmit)="onSubmit(true)" #tokenponForm="ngForm">
        <div class="form-group">
            <div>
                <div class="col-12 mt-3">
                    <div class="row col-12">
                        <div *ngIf="logoUrl != ''" class="col-xs-12 col-sm-12 col-md-3"><img [src]="logoUrl" style="height:50px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-5 justify-content-center align-self-center">
                            <h4 class="col-12">{{profileModel.businessName}}</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 mt-3">
                        <div class="col-xs-12 col-sm-12">
                            <label for="productTextarea" translate>Title of Discount Offering:</label>
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-11">
                            <input type="text" class="form-control" [(ngModel)]="overallTitle" name="overallTitle" required
                                id="overallTitleText" #overallTitleText="ngModel" translate>
                            <div class="col-sm-6">
                                <small *ngIf="!overallTitleText.valid" translate class="" [ngClass]="{ 'show-error': !overallTitleText.valid }">*
                                    required</small>
                            </div>
                        </div>
                    </div>
                 <div class="col-12 mt-3">
                        <div class="col-xs-12 col-sm-12">
                            <label for="productTextarea" translate>Highlights (min 10 characters):</label>
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-11">
                            <textarea class="form-control" [(ngModel)]="productDescription" name="product" required
                                minlength="10" maxlength="450" id="productTextarea" #productText="ngModel" rows="5"
                                translate></textarea>
                            <div class="col-sm-6">
                                <small *ngIf="!productText.valid" translate class="" [ngClass]="{ 'show-error': !productText.valid }">*
                                    required</small>
                            </div>
                        </div>
                    </div> -->
                <div *ngIf="!isUpdate" class="col-12 mt-3">
                    <div class="col-xs-12 col-sm-12 col-md-11 mb-1" *ngFor="let field of discountArray; let i = index">
                        <div class="card addedCard">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-10">
                                        <h4 class="offer-head">OFFER {{i+1}}</h4>
                                    </div>
                                    <div class="col-1">
                                        <a (click)="deleteDiscount(i)">
                                            <i class="fa fa-trash fa-2x" style="color: red" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2">Title:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-10">
                                        {{field.title}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2">Description:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-10">
                                        {{field.description}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2">Cost:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-10">
                                        {{field.cost}} iXin
                                    </div>
                                </div>
                                <div class="divTable darkTable">
                                    <div class="divTableHeading">
                                        <div class="divTableHeadRow">
                                            <div class="divTableHead">Amount Spend</div>
                                            <div class="divTableHead">Discount</div>
                                            <div class="divTableHead">Token Number</div>
                                        </div>
                                    </div>
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class="divTableCell">{{field.amount}}</div>
                                            <div class="divTableCell">{{field.discount}}%</div>
                                            <div class="divTableCell">{{field.token}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- show this section if there is no discount added yet -->
                    <div *ngIf="showNewOfferUI">
                        <div class="col-xs-12 col-sm-12 col-md-11 mt-3">
                            <div class="card workingCard">
                                <div class="card-block">
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">
                                            <label placement="top" ngbTooltip="this will be displayed at main page">Title
                                                <small>(Max 50 characters)</small>:</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <input class="form-control" maxlength="50" id="newAttributeTitle"
                                                [(ngModel)]="newDiscount.title" name="newAttributeAmount" required />
                                        </div>
                                        <div *ngIf="!newDiscount.title" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.title" translate class="" [ngClass]="{ 'show-error': !newDiscount.title }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">Description <small>(Max 100
                                                characters)</small>:</div>
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <input class="form-control" maxlength="100" id="newAttributeDescription"
                                                [(ngModel)]="newDiscount.description" name="newAttributeDescription"
                                                required />
                                        </div>
                                        <div *ngIf="!newDiscount.description" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.description" translate class="" [ngClass]="{ 'show-error': !newDiscount.description }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">Minimum Group Count: </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2">
                                            <input class="form-control" type="number" min="1" [(ngModel)]="newDiscount.groupCount"
                                                name="newAttributeGroupCount" required />
                                        </div>
                                        <div *ngIf="!newDiscount.groupCount" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.groupCount" translate class="" [ngClass]="{ 'show-error': !newDiscount.groupCount }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">Expiration Date: </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                            <input class="form-control" type="date" [(ngModel)]="newDiscount.expirationDate"
                                                name="newAttributeExpirationDate" required />
                                        </div>
                                        <div *ngIf="!newDiscount.expirationDate" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.expirationDate" translate class="" [ngClass]="{ 'show-error': !newDiscount.expirationDate }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="divTable darkTable mt-1">
                                        <div class="divTableHeading">
                                            <div class="divTableHeadRow">
                                                <div class="divTableHead">Amount Spend</div>
                                                <div class="divTableHead">Discount</div>
                                                <div class="divTableHead">Token Number</div>
                                            </div>
                                        </div>
                                        <div class="divTableRow">
                                            <div class="divTableCell">
                                                <input class="form-control" type="number" min="1" id="newAttributeAmount"
                                                    [(ngModel)]="newDiscount.amount" name="newAttributeAmount" required />
                                                <div *ngIf="!newDiscount.amount">
                                                    <small *ngIf="!newDiscount.amount" translate class="" [ngClass]="{ 'show-error': !newDiscount.amount }">*
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="divTableCell">
                                                <div class="input-group">
                                                    <select class="form-control" id="newAttributeDiscount" [(ngModel)]="newDiscount.discount"
                                                        name="newAttributeDiscount" #discount="ngModel" required>
                                                        <option *ngFor="let discount of discountValueList">{{discount}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                    </div>
                                                </div>
                                                <div *ngIf="!newDiscount.discount">
                                                    <small *ngIf="!newDiscount.discount" translate class="" [ngClass]="{ 'show-error': !newDiscount.discount }">*
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="divTableCell">
                                                <input class="form-control" type="number" min="1" id="newAttributeToken"
                                                    [(ngModel)]="newDiscount.token" name="newAttributeToken" #token="ngModel"
                                                    required />
                                                <div *ngIf="!newDiscount.token">
                                                    <small *ngIf="!newDiscount.token" translate class="" [ngClass]="{ 'show-error': !newDiscount.token }">*
                                                        required</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button *ngIf="!newDiscount.title || !newDiscount.description || !newDiscount.amount || !newDiscount.discount || !newDiscount.token || !newDiscount.groupCount || !newDiscount.expirationDate"
                                            disabled class="btn btn-light btn-sm">Add</button>
                                        <button *ngIf="newDiscount.title && newDiscount.description && newDiscount.amount && newDiscount.discount && newDiscount.token && newDiscount.groupCount && newDiscount.expirationDate"
                                            class="btn btn-default btn-sm" (click)="addDiscount()">Add</button>
                                        <button *ngIf="discountArray.length > 0" class="btn btn-danger btn-sm" (click)="hideOfferUI()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!showNewOfferUI" class="text-center">
                        <button type="button" class="btn btn-mdb-color btn-sm" (click)="showOfferUI()">Add New Offer</button>
                    </div>
                </div>
                <div *ngIf="isUpdate" class="col-12 mt-3">
                    <div class="col-xs-12 col-sm-12 col-md-11 mb-1" *ngFor="let field of discountArray; let i = index">
                        <div class="card addedCard">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="offer-head">Deal {{i+1}}</h5>
                                    </div>
                                    <!-- <div class="col-1">
                                        <a>
                                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                        </a>
                                    </div> -->
                                    <div class="col-1">
                                        <a (click)="deleteDiscount(i)">
                                            <i class="fa fa-trash fa-2x" style="color: red" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Title:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-9">
                                        {{field.title}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Description:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-9">
                                        {{field.description}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Minimum Group Count:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-9">
                                        {{field.groupCount}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Expiration Date:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-9">
                                        {{field.expirationDate}}
                                    </div>
                                </div>
                                <div class="divTable darkTable">
                                    <div class="divTableHeading">
                                        <div class="divTableHeadRow">
                                            <div class="divTableHead">Amount Spend</div>
                                            <div class="divTableHead">Discount</div>
                                            <div class="divTableHead">Token Number</div>
                                        </div>
                                    </div>
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class="divTableCell">{{field.amount}}</div>
                                            <div class="divTableCell">{{field.discount}}%</div>
                                            <div class="divTableCell">{{field.token}}</div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row mt-1">
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <label placement="top" ngbTooltip="this will be displayed at main page">Title
                                            <small>(Max 50 characters)</small>:</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7">
                                        <input class="form-control" maxlength="50" [(ngModel)]="field.title" name="title-{{i}}"
                                            required />
                                    </div>
                                    <div *ngIf="!field.title" class="col-xs-12 col-sm-12 col-md-2">
                                        <small *ngIf="!field.title" translate class="" [ngClass]="{ 'show-error': !field.title }">*
                                            required</small>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Description <small>(Max 100
                                            characters)</small>:</div>
                                    <div class="col-xs-12 col-sm-12 col-md-7">
                                        <input class="form-control" maxlength="100" [(ngModel)]="field.description"
                                            name="description-{{i}}" required />
                                    </div>
                                    <div *ngIf="!field.description" class="col-xs-12 col-sm-12 col-md-2">
                                        <small *ngIf="!field.description" translate class="" [ngClass]="{ 'show-error': !field.description }">*
                                            required</small>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Minimum Group Count: </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                        <input class="form-control" type="number" min="1" [(ngModel)]="field.groupCount"
                                            name="groupCount-{{i}}" required />
                                    </div>
                                    <div *ngIf="!field.groupCount" class="col-xs-12 col-sm-12 col-md-2">
                                        <small *ngIf="!field.groupCount" translate class="" [ngClass]="{ 'show-error': !field.groupCount }">*
                                            required</small>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-xs-12 col-sm-12 col-md-3">Expiration Date: </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <input class="form-control" type="date" [(ngModel)]="field.expirationDate" name="expirationDate-{{i}}"
                                            required />
                                    </div>
                                    <div *ngIf="!field.expirationDate" class="col-xs-12 col-sm-12 col-md-2">
                                        <small *ngIf="!field.expirationDate" translate class="" [ngClass]="{ 'show-error': !field.expirationDate }">*
                                            required</small>
                                    </div>
                                </div>
                                <div class="divTable darkTable mt-1">
                                    <div class="divTableHeading">
                                        <div class="divTableHeadRow">
                                            <div class="divTableHead">Amount Spend</div>
                                            <div class="divTableHead">Discount</div>
                                            <div class="divTableHead">Token Number</div>
                                        </div>
                                    </div>
                                    <div class="divTableRow">
                                        <div class="divTableCell">
                                            <input class="form-control" type="number" min="1" [(ngModel)]="field.amount"
                                                name="amount-{{i}}" required />
                                            <div *ngIf="!field.amount">
                                                <small *ngIf="!field.amount" translate class="" [ngClass]="{ 'show-error': !field.amount }">*
                                                    required</small>
                                            </div>
                                        </div>
                                        <div class="divTableCell">
                                            <div class="input-group">
                                                <select class="form-control" [(ngModel)]="field.discount" name="discount-{{i}}"
                                                    #discount="ngModel" required>
                                                    <option *ngFor="let discount of discountValueList">{{discount}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">%</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!field.discount">
                                                <small *ngIf="!field.discount" translate class="" [ngClass]="{ 'show-error': !field.discount }">*
                                                    required</small>
                                            </div>
                                        </div>
                                        <div class="divTableCell">
                                            <input class="form-control" type="number" min="1" [(ngModel)]="field.token"
                                                name="token-{{i}}" #token="ngModel" required />
                                            <div *ngIf="!field.token">
                                                <small *ngIf="!field.token" translate class="" [ngClass]="{ 'show-error': !field.token }">*
                                                    required</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showNewOfferUI">
                        <div class="col-xs-12 col-sm-12 col-md-11 mt-3">
                            <div class="card workingCard">
                                <div class="card-block">
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">Title <small>(Max 50 characters)</small>:</div>
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <input class="form-control" maxlength="50" id="newAttributeTitle"
                                                [(ngModel)]="newDiscount.title" name="newAttributeAmount" required />
                                        </div>
                                        <div *ngIf="!newDiscount.title" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.title" translate class="" [ngClass]="{ 'show-error': !newDiscount.title }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-xs-12 col-sm-12 col-md-3">Description <small>(Max 100
                                                characters)</small>:</div>
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <input class="form-control" maxlength="100" id="newAttributeDescription"
                                                [(ngModel)]="newDiscount.description" name="newAttributeDescription"
                                                required />
                                        </div>
                                        <div *ngIf="!newDiscount.description" class="col-xs-12 col-sm-12 col-md-2">
                                            <small *ngIf="!newDiscount.description" translate class="" [ngClass]="{ 'show-error': !newDiscount.description }">*
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                            <div class="col-xs-12 col-sm-12 col-md-3">Minimum Group Count: </div>
                                            <div class="col-xs-12 col-sm-12 col-md-2">
                                                <input class="form-control" type="number" min="1" [(ngModel)]="newDiscount.groupCount"
                                                    name="newAttributeGroupCount" required />
                                            </div>
                                            <div *ngIf="!newDiscount.groupCount" class="col-xs-12 col-sm-12 col-md-2">
                                                <small *ngIf="!newDiscount.groupCount" translate class="" [ngClass]="{ 'show-error': !newDiscount.groupCount }">*
                                                    required</small>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-xs-12 col-sm-12 col-md-3">Expiration Date: </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <input class="form-control" type="date" [(ngModel)]="newDiscount.expirationDate" name="newAttributeExpirationDate"
                                                    required />
                                            </div>
                                            <div *ngIf="!newDiscount.expirationDate" class="col-xs-12 col-sm-12 col-md-2">
                                                <small *ngIf="!newDiscount.expirationDate" translate class="" [ngClass]="{ 'show-error': !newDiscount.expirationDate }">*
                                                    required</small>
                                            </div>
                                        </div>
                                    <div class="divTable darkTable mt-1">
                                        <div class="divTableHeading">
                                            <div class="divTableHeadRow">
                                                <div class="divTableHead">Amount Spend</div>
                                                <div class="divTableHead">Discount</div>
                                                <div class="divTableHead">Token Number</div>
                                            </div>
                                        </div>
                                        <div class="divTableRow">
                                            <div class="divTableCell">
                                                <input class="form-control" type="number" min="1" id="newAttributeAmount"
                                                    [(ngModel)]="newDiscount.amount" name="newAttributeAmount" required />
                                                <div *ngIf="!newDiscount.amount">
                                                    <small *ngIf="!newDiscount.amount" translate class="" [ngClass]="{ 'show-error': !newDiscount.amount }">*
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="divTableCell">
                                                <div class="input-group">
                                                    <select class="form-control" id="newAttributeDiscount" [(ngModel)]="newDiscount.discount"
                                                        name="newAttributeDiscount" #discount="ngModel" required>
                                                        <option *ngFor="let discount of discountValueList">{{discount}}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">%</span>
                                                    </div>
                                                </div>
                                                <div *ngIf="!newDiscount.discount">
                                                    <small *ngIf="!newDiscount.discount" translate class="" [ngClass]="{ 'show-error': !newDiscount.discount }">*
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="divTableCell">
                                                <input class="form-control" type="number" min="1" id="newAttributeToken"
                                                    [(ngModel)]="newDiscount.token" name="newAttributeToken" #token="ngModel"
                                                    required />
                                                <div *ngIf="!newDiscount.token">
                                                    <small *ngIf="!newDiscount.token" translate class="" [ngClass]="{ 'show-error': !newDiscount.token }">*
                                                        required</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button *ngIf="!newDiscount.title || !newDiscount.description || !newDiscount.amount || !newDiscount.discount || !newDiscount.token || !newDiscount.groupCount || !newDiscount.expirationDate"
                                            disabled class="btn btn-light btn-sm">Add</button>
                                        <button *ngIf="newDiscount.title && newDiscount.description && newDiscount.amount && newDiscount.discount && newDiscount.token && newDiscount.groupCount && newDiscount.expirationDate"
                                            class="btn btn-default btn-sm" (click)="addDiscount()">Add</button>
                                        <button class="btn btn-danger btn-sm" (click)="hideOfferUI()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!showNewOfferUI" class="text-center">
                        <button type="button" class="btn btn-mdb-color btn-sm" (click)="showOfferUI()">Add New Offer</button>
                    </div>
                </div>

                <div class="col-12 mt-2">
                    <div class="col-xs-12 col-sm-12">
                        <label for="fineprintTextarea" translate>Fine Prints:</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11">
                        <textarea class="form-control" [(ngModel)]="finePrint" name="fineprint" rows="5" required
                            minlength="10" id="fineprintTextarea" #fineprintText="ngModel">
                    </textarea>
                        <div class="col-sm-6">
                            <small *ngIf="!fineprintText.valid" translate class="" [ngClass]="{ 'show-error': !fineprintText.valid }">*
                                required</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group col-sm-12">
                    <div class="col-12">
                        <label for="image_uploads" translate>Choose images(<2MB, up to 5 images) to upload (PNG, JPG)
                                <span class="btn btn-mdb-color btn-sm" translate>Browse</span>
                        </label>
                        <input style="display: none;" type="file" id="image_uploads" accept=".jpg, .jpeg, .png"
                            multiple (change)="detectFiles($event)" title="Choose">
                        <div *ngIf="isOversize"><small translate class="show-error" translate>* picture(s) too large</small></div>
                        <div *ngIf="isAlreadyAdded"><small translate class="show-error" translate>* picture(s) already
                                added</small></div>
                        <div *ngIf="isOverTotal"><small translate class="show-error" translate>* you have reached the
                                max
                                allowable uploads</small></div>
                        <div>
                            <div class="img-wrap" *ngFor="let url of urls">
                                <span class="close" (click)="deleteFile(url)">&times;</span>
                                <img [src]="url.url" class="rounded mb-3" width="150" height="150" data-id="{{url.id}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center submitBtn mt-3">
                <!-- <button class="btn btn-warning" (click)="onSubmit(false)">Save as draft</button> -->
                <button type="submit" [disabled]="!tokenponForm.valid || discountArray?.length == 0" class="btn"
                    [ngClass]="{'btn-light': !tokenponForm.valid || discountArray?.length == 0,
                        'btn-success': tokenponForm.valid && discountArray?.length > 0}"
                    translate>{{isUpdate? 'Update': 'Submit'}}</button>
                <button *ngIf="isUpdate" class="btn btn-outline-danger  waves-effect" [routerLink]="['/home/claim-detail']"
                    [queryParams]="{id: claimId}" type="submit" translate>Cancel
                    <i class="fa fa-ban ml-2"></i>
                </button>
                <button *ngIf="!isUpdate" class="btn btn-outline-danger  waves-effect" [routerLink]="['/home']" type="submit"
                    translate>Cancel
                    <i class="fa fa-ban ml-2"></i>
                </button>
            </div>
        </div>
    </form>
</div>