<div>

    <div class="nopadding col-sm-8 col-md-8 col-lg-7">
        <div class="input-group searchBox align-middle">
            <input type="text" id="search" #searchTxt class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-md" (click)="Search(searchTxt.value)" translate>Search</button>
                <button class="btn btn-info  btn-md" [routerLink]="[ '/home'] " translate>All Listing</button>
                <button class="btn btn-info  btn-md" (click)="addListing(content);" translate>New Listing</button>
            </span>
        </div>
    </div>
    <!-- <div id="btnContainer">
        <button *ngIf="!listView" class="btn btn-sm" (click)="toggleView()">
            <i class="fa fa-bars"></i> List
        </button>
        <button *ngIf="listView" class="btn btn-sm" (click)="toggleView()">
            <i class="fa fa-map-o"></i> Map
        </button>
    </div> -->
    <div *ngIf="listView">
        <div id="products" class="row nopadding">
            <div class="card card-padding item col-xs-12 col-sm-6 col-md-3 col-lg-3" (click)="selectOffer(claim._id)" *ngFor="let claim of claimsPage">
                <div class="thumbnail clearfix text-center">
                    <img *ngIf="claim.imgUrl != ''" class="card-img-top img-fluid" src="{{claim.imgUrl}}" alt="" />
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            {{claim.overallTitle}}</h4>
                        <p class="group inner list-group-item-text">
                            {{claim.productDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
                [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
    <!-- <div #googleMap style="width:100%;height:500px" class="col-12 row"></div> -->
    <div *ngIf="!listView" class="col-12 row">
        <agm-map #AgmMap (mapReady)="mapReady($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
            [disableDefaultUI]="false" [zoomControl]="false">

            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
                [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                    <strong>{{m.tooltip.businessName}}</strong>
                    <br><br>
                    <label>{{m.tooltip.street}}</label>
                    <br>
                    <label>{{m.tooltip.city}} {{m.tooltip.state}} {{m.tooltip.zip}}</label>
                </agm-info-window>

            </agm-marker>

        </agm-map>
    </div>
</div>
<!-- Modal -->
<ng-template #content let-d="dismiss">
    <!-- <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <div class="modal-body">
        <p translate>Only "Merchant" can add a new listing. Please update your account type in your
            Account Profile.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d()">OK</button>
    </div>
</ng-template>